@page "/"

<PageTitle>Home</PageTitle>

<h1>Realização do AppConcurso!</h1>

<div class="container">
	<p>
		Atividade da matéria de Linguagem de Programação Visualição
	</p>
	<h3>Integrantes:</h3>
	<p class="">
		<img src="https://avatars.githubusercontent.com/u/51835032?v=4&size=64"  class="rounded-5 "/><br />
		<a href="https://github.com/Leyukezer-Sys" class="m-3 text-success text-decoration-none">Leyukezer Cruz de Lima</a>
	</p>
</div>