@page "/"

<PageTitle>Home</PageTitle>

<h1>Realização do AppConcurso!</h1>

<div class="container">
	<h3>Integrantes:</h3>
	<p>
		<img src="https://avatars.githubusercontent.com/u/51835032?v=4&size=64"  class="rounded-5"/>
		<a href="https://github.com/Leyukezer-Sys">Leyukezer Cruz de Lima</a>
	</p>
</div>