@page "/"

<PageTitle>Home</PageTitle>

<h1>Realização do AppConcurso!</h1>

<div class="container">
	<div class="d-flex flex-column justify-content-center align-items-baseline">
		<img src="logo-concurso.png" class="figure-img rounded-3" />

		<p>
			Atividade da matéria de Linguagem de Programação Visualição
		</p>
	</div>
	<h3>Integrantes:</h3>
	<p class="">
		<img src="https://avatars.githubusercontent.com/u/51835032?v=4&size=64" class="rounded rounded-circle " /><br />
		<a href="https://github.com/Leyukezer-Sys" class="m-3 link-success text-decoration-none">Leyukezer Cruz de Lima</a>
	</p>
	<p class="">
		<img src="https://avatars.githubusercontent.com/u/106929115?v=4&size=64" class="rounded rounded-circle" /><br />
		<a href="https://github.com/LuanTeo" class="m-3 link-success text-decoration-none" >Luan Mateus Teofilo</a>
	</p>
</div>